/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

#wraper{
    /* overflow: hidden; */

}
/* common */
.text-while{
    color: #fff;
}

.clear {
    clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}
.col-half {
    width: 50%;
}
.col-full{
    width: 100%;
    
}

.text-center {
    text-align: center;
}

.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.btn {
    background-color: #000;
    color: #fff;
    padding:10px 16px;
    text-decoration: none;
    border: none;
    text-align: center;
    /* input submit buttọn style safari */
    -webkit-appearance: none;
}
.btn:hover {
    background-color:#ccc;
    color: #000;
    cursor: pointer;
}

.pull-right {
    float: right;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    max-width:100%;
    background-color: black;
    z-index: 10;
    
   
}

#nav {
    display: inline-block;
}
#nav>li {
    display: inline-block;
}
#nav li {
    
    position: relative;
}
#nav .subnav li {
    width:100%;   
}


#nav>li>a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 46px;
    padding: 0px  24px;
    display: block;
}
#nav li a {
    
    
}
#nav .nav-down-arrow {
    font-size: 14px;
}
#nav li:hover .subnav {
    display: block;
}
#nav>li:hover>a,#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
    
}




#nav .subnav {
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    top:100%;
    left: 0px;
    /* display: none; */
}

#nav>li:hover>a {
    display: block;
}

.subnav li {
    padding: 0 16px;
    line-height: 36px;
    min-width: 160px;
}

#header .search-btn,#header .mobile-menu-btn {
    float: right;
    color: #fff;
    line-height: 46px;
    padding: 0 24px;
    
}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
} 
#header .icon-search-btn {
    font-size: 14px;
} 

#header .mobile-menu-btn {
    display: none;
}
#header .mobile-menu-btn:hover {
    background-color: #ccc;
}

#header .mobile-menu-btn:hover i {
    color: #000;
}
#slider{
    min-height: 500px;
    margin-top:46px;
    padding-top: 50%;
    position: relative;
    /* Đường dẫn tương đối */
    background: url('../img/chicago.jpg') top center /cover no-repeat;
    
}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    /* cách 1: 
    left: 50%;
    transform: translateX(-50%); 
    Cách 2
    */
    width: 100%;
    text-align: center;
}
#slider .text-heading {
    font-size: 24px;
}

#slider .text-description {
    margin-top: 25px;
    font-size: 15px;
    text-shadow: 0 0 1px #000;
}
/* content */

#content .content-section{
    width: 900px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin:0 auto 0 auto;
    padding-left: 16px;
    padding-right: 16px;
     
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 25px;
}

#content .section-sub-heading {
    font-size: 15px;
    margin-bottom: 25px;
    font-style: italic;
    opacity: 0.7;
}
#content .about-text {
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .section-heading,#content .section-sub-heading {
    text-align: center; 
}
/* member */
.members {
    margin-top: 32px;
    
    /* display: flex; */
    
    
    
}
#content .member-card{
    /* float: right;
    width: 33.33333%; */
}
#content .member-name {
    font-size: 15px;
   
}
#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;

}
/* tour-section */
.tour-section {
    background-color: #000;
}
.tickets-list {
    background-color: #fff;
    margin-top: 42px;
}

.tickets-list li {
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid rgb(221, 221, 221);
}
.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 4px 8px;
    margin: 16px;

}

.tickets-list .quantity {
    float: right;
    background-color:black;
    color: #fff;
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

/* place */
.places {
    /* display: flex; */
    
    
    
}
.place-item {
    
    
   


}

.places img {
    width: 100%;
}
.places img:hover {
    opacity: 0.6;
}
.place-content {
    background-color: #fff;
    font-size: 15px;
    padding:0  16px 24px 16px;

}

.place-heading {

    padding: 16px 0;
}

.place-time {
    padding: 16px 0; 
    color: #757575;
}

.place-desc {
    padding-bottom: 24px;
    text-align: justify;
    line-height: 1.4;

}


/* content */
.contact-content {
    margin-top: 48px;

}
.contact-infor {
    font-size: 18px;
    line-height: 1.5;
}
.contact-infor i {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.form-submit-btn {
    margin: 16px 0;
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
    padding:8px 16px ;
    float: right;
}

/* map section */
.map-section img {
    width: 100%;
}
#footer{
    padding: 64px 16px;
    text-align: center;
}
 .social a,.copyright a,.copyright{
    color: rgba(0,0,0,0.6);
    
 }

 .copyright {
    margin: 15px 0;
 }
 .social a {
    text-decoration: none;
    
   
 }
 
 .social i:hover {
     color: rgba(0,0,0,0.4);
 }

 /* modal */
 .modal {
     position: fixed;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     background-color: rgba(0,0,0,0.4);
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .modal-container {
     background-color: #fff;
     width: 900px;
     min-height: 200px;
 }
 .icon-bag {
     height: 30px;
     width: 34px;
 }